[submodule "functions/DeathStarBench"]
	path = functions/DeathStarBench
	url = https://github.com/delimitrou/DeathStarBench
[submodule "setup/faas-netes"]
	path = setup/faas-netes
	url = https://gitee.com/zhyantao/faas-netes.git
[submodule "setup/openwhisk-deploy-kube"]
	path = setup/openwhisk-deploy-kube
	url = https://gitee.com/zhyantao/openwhisk-deploy-kube.git
