torch==2.0.1
torchvision
torchaudio
numpy==1.24.3
matplotlib==3.7.1
networkx==3.1
pyyaml
scipy==1.10.1
scikit-learn==1.2.2
statsmodels==0.14.0
Pillow==9.5.0
netgraph
graphviz
pandas==2.0.1
six==1.16.0
pytest
tqdm==4.65.0
tensorly==0.8.1
jupyterlab
notebook
ipython==8.13.2
gymnasium==0.28.1
gym==0.26.2
tensordict==0.1.2
torchrl==0.1.1