#torch~=1.11.0
#torchvision
#torchaudio
#--extra-index-url https://download.pytorch.org/whl/cu113
numpy==1.24.1
matplotlib==3.6.3
networkx==3.0
pytest==7.2.0
pandas==1.5.2
seaborn==0.12.2
pyyaml==6.0
scipy==1.10.0
requests==2.28.1
jupyterlab==3.5.2
notebook==6.5.2